language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

before_script:
    - curl -s http://getcomposer.org/installer | php
    - php composer.phar --dev --prefer-source install

script: ./vendor/bin/phpunit --coverage-text
